@using ProjectSharing.BLL.Models
@model List<PageInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Random rnd = new Random();
    foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
                <a asp-action="ViewUser" asp-controller="User" asp-route-id="@item.User.UserID" class="img img-2" style="background-image: url(images/image_@(rnd.Next(1, 12);).jpg);"></a>
                <div class="text text-2 pl-md-4">
                    <h3 class="mb-2"><a asp-action="ViewPage" asp-controller="Page" asp-route-id="@item.Page.PageID">@item.Page.PageTitle</a></h3>
                    <div class="meta-wrap">
                        <p class="meta">
                            <span>@item.Page.CreateDate.Date</span>
                            <span><a href="single.html">@item.Category.CategoryName</a></span>
                            <span>@(item.Page.PageViewCount) View</span>
                        </p>
                    </div>
                    <p class="mb-4">@item.Page.PageDescription</p>
                    <p><a asp-action="ViewPage" asp-controller="Page" asp-route-id="@item.Page.PageID" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                </div>
            </div>
        </div>
    }
}



